.new-tweet {
  padding: 3px 10px 10px 10px;
  border-radius: 7px;
  background-color: #D7D4D4;
  margin: 0 2em 0 2em;
  border: 1px solid #c2c3c4;
}

.textboxArea {
  padding: 5px;
  width: 100%;
}

.counter {
  float: right;
  margin: 5px;
  font-style: italic;
  font-size: 80%;
}

.composeHeader {
  margin: 10px 0 20px 0;
  font-family:'Roboto Bold', sans-serif;
  color: #00a087;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.tweetsContainer {
  margin: 5em 2em 0 2em;
}

.tweetsHandle {
  float: right;
  margin: 15px 10px 0 0;
  font-size: 90%;
}

.profileAvatar {
  float: left;
  border-radius: 7px;
  width: 50px;
  height: 50px;
  margin: 10px 10px 0 10px;
}

.tweetsName {
  margin: 0 0 0 0;
  padding-top: 10px;
  border-radius: 7px 7px 0 0;
  background-color: #e5e5e5;
  color: #00a087;
  height: 65px;
  font-size: 170%;
}

.tweet {
  border-radius: 7px;
  border: 1px solid #c2c3c4;
  margin-bottom: 50px;
}

.tweetBody {
  padding: 30px 0 30px 15px;
  font-size: 150%;
}

footer {
  border-top: 1px solid #e3e6e8;
  padding: 15px;
}

.date {
  font-size: 12px;
}

.fa {
  margin-left: 5px;
  float: right;
  visibility: hidden;
  padding: 0 10px 10px 0;
  color: #00a087;
}

.tweet:hover .fa {
  visibility: visible;
}

.tweet header {
  opacity: 0.7;
}

.tweet:hover header {
  opacity: 1;
}
